@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

/* ============================================
   HeroUI v3 Custom Theme: uber
   ============================================ */
[data-theme="uber"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(0 0 0);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0000 0.00);
  --border: oklch(90.00% 0.0000 0.00);
  --danger: oklch(0.573 0.2249 21.97);
  --danger-foreground: oklch(98% 0.0200 21.97);
  --default: oklch(94.00% 0.0000 0.00);
  --default-foreground: oklch(21.03% 0.0059 0.00);
  --field-background: oklch(100.00% 0.0000 0.00);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.0000 0.00);
  --field-placeholder: oklch(55.17% 0.0000 0.00);
  --focus: oklch(0 0 0);
  --foreground: oklch(21.03% 0.0000 0.00);
  --muted: oklch(55.17% 0.0000 0.00);
  --overlay: oklch(100.00% 0.0000 0.00);
  --overlay-foreground: oklch(21.03% 0.0000 0.00);
  --scrollbar: oklch(87.10% 0.0000 0.00);
  --segment: oklch(100.00% 0.0000 0.00);
  --segment-foreground: oklch(21.03% 0.0000 0.00);
  --separator: oklch(92.00% 0.0000 0.00);
  --success: oklch(0.6277 0.1604 153.06);
  --success-foreground: oklch(98% 0.0160 153.06);
  --surface: oklch(100.00% 0.0000 0.00);
  --surface-foreground: oklch(21.03% 0.0000 0.00);
  --surface-secondary: oklch(95.24% 0.0000 0.00);
  --surface-secondary-foreground: oklch(21.03% 0.0000 0.00);
  --surface-tertiary: oklch(93.73% 0.0000 0.00);
  --surface-tertiary-foreground: oklch(21.03% 0.0000 0.00);
  --warning: oklch(0.8446 0.1525 80.6);
  --warning-foreground: oklch(15% 0.0457 80.60);
  --accent-soft-foreground: oklch(0 0 0);

  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.25rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark[data-theme="uber"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(0.9848 0 0);
  --accent-foreground: oklch(15% 0.0000 0.00);
  --background: oklch(12.00% 0.0000 0.00);
  --border: oklch(28.00% 0.0000 0.00);
  --danger: oklch(0.7044 0.1872 23.19);
  --danger-foreground: oklch(15% 0.0500 23.19);
  --default: oklch(27.40% 0.0000 0.00);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0000 0.00);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0000 0.00);
  --field-placeholder: oklch(70.50% 0.0000 0.00);
  --focus: oklch(0.9848 0 0);
  --foreground: oklch(99.11% 0.0000 0.00);
  --muted: oklch(70.50% 0.0000 0.00);
  --overlay: oklch(21.03% 0.0000 0.00);
  --overlay-foreground: oklch(99.11% 0.0000 0.00);
  --scrollbar: oklch(70.50% 0.0000 0.00);
  --segment: oklch(39.64% 0.0000 0.00);
  --segment-foreground: oklch(99.11% 0.0000 0.00);
  --separator: oklch(25.00% 0.0000 0.00);
  --success: oklch(0.6514 0.1321 156.22);
  --success-foreground: oklch(15% 0.0396 156.22);
  --surface: oklch(21.03% 0.0000 0.00);
  --surface-foreground: oklch(99.11% 0.0000 0.00);
  --surface-secondary: oklch(25.70% 0.0000 0.00);
  --surface-secondary-foreground: oklch(99.11% 0.0000 0.00);
  --surface-tertiary: oklch(27.21% 0.0000 0.00);
  --surface-tertiary-foreground: oklch(99.11% 0.0000 0.00);
  --warning: oklch(0.8803 0.1348 86.06);
  --warning-foreground: oklch(15% 0.0404 86.06);
  --accent-soft-foreground: oklch(0.9848 0 0);
}

/* ============================================
   HeroUI v3 Custom Theme: coinbase
   ============================================ */
[data-theme="coinbase"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(52.82% 0.2628 262.87);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0020 262.87);
  --border: oklch(90.00% 0.0020 262.87);
  --danger: oklch(0.5507 0.2062 24);
  --danger-foreground: oklch(98% 0.0200 24.00);
  --default: oklch(94.00% 0.0020 262.87);
  --default-foreground: oklch(21.03% 0.0059 262.87);
  --field-background: oklch(100.00% 0.0010 262.87);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.0020 262.87);
  --field-placeholder: oklch(55.17% 0.0040 262.87);
  --focus: oklch(52.82% 0.2628 262.87);
  --foreground: oklch(21.03% 0.0020 262.87);
  --muted: oklch(55.17% 0.0040 262.87);
  --overlay: oklch(100.00% 0.0006 262.87);
  --overlay-foreground: oklch(21.03% 0.0020 262.87);
  --scrollbar: oklch(87.10% 0.0020 262.87);
  --segment: oklch(100.00% 0.0020 262.87);
  --segment-foreground: oklch(21.03% 0.0020 262.87);
  --separator: oklch(92.00% 0.0020 262.87);
  --success: oklch(0.5438 0.1268 157.17);
  --success-foreground: oklch(98% 0.0127 157.17);
  --surface: oklch(100.00% 0.0010 262.87);
  --surface-foreground: oklch(21.03% 0.0020 262.87);
  --surface-secondary: oklch(95.24% 0.0016 262.87);
  --surface-secondary-foreground: oklch(21.03% 0.0020 262.87);
  --surface-tertiary: oklch(93.73% 0.0016 262.87);
  --surface-tertiary-foreground: oklch(21.03% 0.0020 262.87);
  --warning: oklch(0.8095 0.1119 61.69);
  --warning-foreground: oklch(15% 0.0336 61.69);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.125rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark[data-theme="coinbase"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(52.82% 0.2628 262.87);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0020 262.87);
  --border: oklch(28.00% 0.0020 262.87);
  --danger: oklch(0.6545 0.2145 22.31);
  --danger-foreground: oklch(15% 0.0500 22.31);
  --default: oklch(27.40% 0.0020 262.87);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0040 262.87);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0020 262.87);
  --field-placeholder: oklch(70.50% 0.0040 262.87);
  --focus: oklch(52.82% 0.2628 262.87);
  --foreground: oklch(99.11% 0.0020 262.87);
  --muted: oklch(70.50% 0.0040 262.87);
  --overlay: oklch(21.03% 0.0040 262.87);
  --overlay-foreground: oklch(99.11% 0.0020 262.87);
  --scrollbar: oklch(70.50% 0.0020 262.87);
  --segment: oklch(39.64% 0.0020 262.87);
  --segment-foreground: oklch(99.11% 0.0020 262.87);
  --separator: oklch(25.00% 0.0020 262.87);
  --success: oklch(0.7574 0.180554 156.931);
  --success-foreground: oklch(15% 0.0500 156.93);
  --surface: oklch(21.03% 0.0040 262.87);
  --surface-foreground: oklch(99.11% 0.0020 262.87);
  --surface-secondary: oklch(25.70% 0.0030 262.87);
  --surface-secondary-foreground: oklch(99.11% 0.0020 262.87);
  --surface-tertiary: oklch(27.21% 0.0030 262.87);
  --surface-tertiary-foreground: oklch(99.11% 0.0020 262.87);
  --warning: oklch(0.8095 0.1119 61.69);
  --warning-foreground: oklch(15% 0.0336 61.69);
}

/* ============================================
   HeroUI v3 Custom Theme: rabbit
   ============================================ */
[data-theme="rabbit"] {
   /* Theme Colors (Light Mode) */
  --accent: oklch(66.78% 0.2232 36.66);
  --accent-foreground: oklch(15% 0.0300 36.66);
  --background: oklch(97.02% 0.0100 36.66);
  --border: oklch(90.00% 0.0100 36.66);
  --danger: oklch(0.6291 0.2565 29.09);
  --danger-foreground: oklch(98% 0.0200 29.09);
  --default: oklch(94.00% 0.0100 36.66);
  --default-foreground: oklch(21.03% 0.0059 36.66);
  --field-background: oklch(100.00% 0.0050 36.66);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.0100 36.66);
  --field-placeholder: oklch(55.17% 0.0200 36.66);
  --focus: oklch(66.78% 0.2232 36.66);
  --foreground: oklch(21.03% 0.0100 36.66);
  --muted: oklch(55.17% 0.0200 36.66);
  --overlay: oklch(100.00% 0.0030 36.66);
  --overlay-foreground: oklch(21.03% 0.0100 36.66);
  --scrollbar: oklch(87.10% 0.0100 36.66);
  --segment: oklch(100.00% 0.0100 36.66);
  --segment-foreground: oklch(21.03% 0.0100 36.66);
  --separator: oklch(92.00% 0.0100 36.66);
  --success: oklch(0.7113 0.2043 140.81);
  --success-foreground: oklch(15% 0.0500 140.81);
  --surface: oklch(100.00% 0.0050 36.66);
  --surface-foreground: oklch(21.03% 0.0100 36.66);
  --surface-secondary: oklch(95.24% 0.0080 36.66);
  --surface-secondary-foreground: oklch(21.03% 0.0100 36.66);
  --surface-tertiary: oklch(93.73% 0.0080 36.66);
  --surface-tertiary-foreground: oklch(21.03% 0.0100 36.66);
  --warning: oklch(78.19% 0.1617 46.27);
  --warning-foreground: oklch(21.03% 0.0059 46.27);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 1rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark[data-theme="rabbit"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(66.78% 0.2232 36.66);
  --accent-foreground: oklch(15% 0.0300 36.66);
  --background: oklch(12.00% 0.0100 36.66);
  --border: oklch(28.00% 0.0100 36.66);
  --danger: oklch(0.6291 0.2565 29.09);
  --danger-foreground: oklch(98% 0.0200 29.09);
  --default: oklch(27.40% 0.0100 36.66);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0200 36.66);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0100 36.66);
  --field-placeholder: oklch(70.50% 0.0200 36.66);
  --focus: oklch(66.78% 0.2232 36.66);
  --foreground: oklch(99.11% 0.0100 36.66);
  --muted: oklch(70.50% 0.0200 36.66);
  --overlay: oklch(21.03% 0.0200 36.66);
  --overlay-foreground: oklch(99.11% 0.0100 36.66);
  --scrollbar: oklch(70.50% 0.0100 36.66);
  --segment: oklch(39.64% 0.0100 36.66);
  --segment-foreground: oklch(99.11% 0.0100 36.66);
  --separator: oklch(25.00% 0.0100 36.66);
  --success: oklch(0.7113 0.2043 140.81);
  --success-foreground: oklch(15% 0.0500 140.81);
  --surface: oklch(21.03% 0.0200 36.66);
  --surface-foreground: oklch(99.11% 0.0100 36.66);
  --surface-secondary: oklch(25.70% 0.0150 36.66);
  --surface-secondary-foreground: oklch(99.11% 0.0100 36.66);
  --surface-tertiary: oklch(27.21% 0.0150 36.66);
  --surface-tertiary-foreground: oklch(99.11% 0.0100 36.66);
  --warning: oklch(82.03% 0.1416 50.28);
  --warning-foreground: oklch(21.03% 0.0059 50.28);
}
